@import "./components/clock.css";
@import "./components/date.css";
@import "./components/dday.css";
@import "./components/greeting.css";
@import "./components/quote.css";
@import "./components/todo.css";
@import "./components/weather.css";

* {
  border: none;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
  font-size: 8px;
}

.hidden {
  display: none !important;
}

/* Border box Style */
.border-style--main {
  background-color: rgba(128, 0, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  /* padding: 2px 12px; */
  padding: 10px 20px;
  text-align: center;
  font-style: italic;
}

.border-style--sub {
  box-sizing: border-box;
  width: 245px;
  /* padding: 10px 0 10px 20px; */
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 0 5px rgba(0, 0, 0, 0.8);
  font-style: normal;
  text-align: left;
  font-weight: 200;
  transition: border-color 0.5s ease-in-out;
}

.border-style--sub::placeholder {
  color: white;
  text-shadow: 1px 0 5px rgba(0, 0, 0, 0.8);
}

.border-style--sub:focus {
  border-color: #000000;
}

.title {
  margin-bottom: 10px;
  width: 100px;
  font-weight: 200;
}

/* Background Image */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-content: center;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

/* Bottom Buttons */
.btn-setting {
  box-sizing: border-box;
  width: 75px;
  height: 40px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  right: 50px;
  bottom: 30px;
  fill: white;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-setting svg {
  transition: fill 0.3s ease-in-out;
}

.btn-setting svg:hover {
  fill: #d15eff;
  cursor: pointer;
}
